.footer img {width: 100px; height: 32px; float: left}

.footer
{
    background: #E8E8E8;
    bottom: 3px;
    opacity: 0.9;
    padding: 0;
    width: 100%;
    position: absolute;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    color: #232323;
}

.copyright-text
{
    float: right;
    margin-right: 15px;
    margin-left: 25px;
}

.footer-align
{
    padding: 10px 0;
    float: right;
}

.footer-nav
{
    list-style: none;
    display: inline-block;
}

.footer-nav ul
{
    margin: 0 0 0 -20px;
}

.footer-nav ul li
{
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}

.footer-nav ul li a
{
    color: #232323;
    list-style: none;
    display: inline-block;
    text-decoration: none;
}

.footer-nav ul li a
{
    color: #232323;
    list-style: none;
    display: inline-block;
    text-decoration: none;
}