.footer img {width: 100px; height: 32px; float: left}

.footer
{
    background: #E8E8E8;
    bottom: 3px;
    opacity: 0.7;
    padding: 0;
    width: 100%;
    position: absolute;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    color: #232323;
    z-index: 99;
}

.copyright-text
{
    float: right;
    margin-right: 15px;
    margin-left: 25px;
}

.footer-align
{
    padding: 10px 0;
    float: right;
}

.footer-nav
{
    list-style: none;
    display: inline-block;
}

.footer-nav ul
{
    margin: 0 0 0 -20px;
}

.footer-nav ul li
{
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}

.footer-nav ul li a
{
    color: #232323;
    list-style: none;
    display: inline-block;
    text-decoration: none;
}

.footer-nav ul li a
{
    color: #232323;
    list-style: none;
    display: inline-block;
    text-decoration: none;
}
.cover-page {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}
.cover-page .mobile, .cover-page .web, .cover-page .ux{
    flex: 1 1 auto;
    position: relative;
}
.cover-page .mobile a, .cover-page .web a, .cover-page .ux a {
    transition: all 0.8s ease-in-out;
    -webkit-transition: all 0.8s ease-in-out;
}
.cover-page .mobile a span, .cover-page .web a span, .cover-page .ux a span {
    display: block;
    color: #333;
}
.cover-page .cv-logo {
    flex: 1 1 100%;
    margin: 0px 0px 100px;
}
.cover-page .cv-logo h1 {font-size: 32px;}
.cover-page .cv-logo h1 img {margin: 20px 0px 30px!important;}
.cover-page .cv-footer {
    flex: 1 1 100%;
    margin: 50px 0px 0px;
}
.cover-page .cv-footer img {
    vertical-align: middle;
}
.cover-page img {
    margin: 0px!important;
    background: transparent!important;
    border: none!important;
    box-shadow: none!important;
    vertical-align: bottom;
}
.cover-page .mobile a i {background:url("../images/cover/mobile.png") no-repeat center; display: block; height: 73px;
    transition: all 0.2s ease-in-out;  -webkit-transition: all 0.2s ease-in-out;}
.cover-page .mobile a:hover i {background:url("../images/cover/mobile-h.png") no-repeat center;}
.cover-page .mobile a:hover span {color: #f3793a;}

.cover-page .web a i {background:url("../images/cover/web.png") no-repeat center; display: block; height: 73px;
    transition: all 0.2s ease-in-out;  -webkit-transition: all 0.2s ease-in-out;}
.cover-page .web a:hover i {background:url("../images/cover/web-h.png") no-repeat center;}
.cover-page .web a:hover span {color: #f3793a;}

.cover-page .ux a i {background:url("../images/cover/ux.png") no-repeat center; display: block; height: 73px;
    transition: all 0.2s ease-in-out;  -webkit-transition: all 0.2s ease-in-out;}
.cover-page .ux a:hover i {background:url("../images/cover/ux-h.png") no-repeat center;}
.cover-page .ux a:hover span {color: #f3793a;}

.cover-page .mobile {background: url("../images/cover/1.jpg") no-repeat 0px 0px;  padding: 10px 0px; align-self: center;}
.cover-page .web {background: url("../images/cover/2.jpg") no-repeat 0px 0px; padding: 40px 0px; align-self: center;}
.cover-page .ux {background: url("../images/cover/3.jpg") no-repeat top left; padding: 46px 0px; align-self: center;}
.cover-page .ux div {background: url("../images/cover/4.jpg") no-repeat top left; position: absolute; right: 0px; width: 20px;
    height: 140px; top: 40px;}